#API PRECODE

#recebe pedidos e clientes  a cada be pedidos e clientes  a cada 30 min

*/15 6-20 * * 1-6 /var/www/html/api-precode/rec.sh >> /home/logintersig/recebe_pedido_cliente_precode.log

*/15 * * * * /var/www/html/api-precode/envia_nota.sh >> /home/logintersig/envia_nota_precode.log

00 00,3,6,9,12,15,18,21 * * * /var/www/html/api-precode/envia_estoque.sh >> /home/logintersig/envia_estoque_precode.log
30 1,4,7,10,13,16,19,22 * * * /var/www/html/api-precode/envia_estoque.sh >> /home/logintersig/envia_estoque_precode.log

*/30 * * * * /var/www/html/api-precode/envia_estoque2.sh >> /home/logintersig/envia_estoque_precodeSC.log


# altera valores
0 8 * * 1-5 /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode_8am.log
0 11 * * 1-5 /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode_11am.log
0 14 * * 1-5 /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode_14pm.log
0 17 * * 1-5 /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode_17pm.log
0 20 * * 1-5 /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode_20pm.log

#1 */3 * * * /var/www/html/api-precode/preco.sh >> /home/logintersig/envia_preco_precode.log
