.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }  
  .button:hover {background-color: #0073e6}  
  .button:active {
    background-color: #0073e6;
    box-shadow: 0 5px #004d99;
    transform: translateY(4px);
  }